<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dmitrii</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="nav container">
            <a href="#" class="logo">Dmitrii Kulik</a>
            <!-- Navbar  -->
            <ul class="navbar">
                <li><a href="/" class="nav-link">About me</a></li>
                <li><a href="/skils" class="nav-link">Skils</a></li>
                <li><a href="/certificates" class="nav-link">Certificates</a></li>
            </ul>
        </div>
    </header> 

    {% block body %}{% endblock %}
    
</body>
</html>