{% extends 'base.html' %}

{% block title %}
Мои скилы
{% endblock %}

{% block body %}

<section class="skils container" id="slils">
    <!-- Заголовок -->
    <h2 class="heading">Skils</h2>
    <!-- Наполнение контентом -->
    <div class="skils-content">
        <!-- Описание работы с Гитом -->
        <div class="skil-box">
            <i class='bx bxl-git' ></i>            
            <h2>Git</h2>
            <p>Git Skills...</p>
        </div>
        <!-- Описание GitHub -->
        <div class="skil-box">
            <i class='bx bxl-github' ></i>            
            <h2>GitHub</h2>
            <p>GitHub Skills...</p>
        </div>
        <!-- Описание работы с Java -->
        <div class="skil-box">
            <i class='bx bxl-java' ></i>            
            <h2>Java</h2>
            <p>Java Skills...</p>
        </div>
        <!-- Описание работы с Python -->
        <div class="skil-box">
            <i class='bx bxl-python' ></i>            
            <h2>Python</h2>
            <p>Python Skills...</p>
        </div>
        <!-- Описание работы с C# -->
        <div class="skil-box">
            <i class='bx bxs-file-doc'></i>
            <h2>C#</h2>
            <p>C# Skills...</p>
        </div>
        <!-- Описание работы с SQL -->
        <div class="skil-box">
            <i class='bx bxl-postgresql'></i>            
            <h2>SQL</h2>
            <p>SQL Skills...</p>
        </div>
        <!-- HTML5 -->
        <div class="skil-box">
            <i class='bx bxl-html5'></i>
            <h2>HTML</h2>
            <p>HTML Skills...</p>
        </div>
        <!-- CSS -->
        <div class="skil-box">
            <i class='bx bxl-css3' ></i>
            <h2>CSS</h2>
            <p>CSS Skills...</p>
        </div>
        <!-- Linux -->
        <div class="skil-box">
            <i class='bx bx-book-open'></i>
            <h2>Linux</h2>
            <p>Linux Skills...</p>
        </div>
    </div>
    
</section>


{% endblock %}
